<div class="container">
    <h2>Student List</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Course</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{ student.name }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.course }}</td>
          <td class="action-buttons">
            <button (click)="viewStudent(student._id)">View</button>
            <button (click)="editStudent(student._id)">Edit</button>
            <button class="delete" (click)="deleteStudent(student._id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  